{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% block content %}
<section>
    <article>
        <header>
            <h2 class="title">{{ article.title }}</h2>
        </header>

        <div class="post-content">
            <p>
                <small>
                    {{ article.locale_date }} -
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                </small>
            </p>

            {{ article.content }}

            <footer>
                <p>
                    <small>{% include 'taglist.html' %}</small>
                </p>
            </footer>
        </div>

    </article>
</section>
{% endblock %}

