body {
  font-family: "Roboto";
  font-size: 1.75em;
}

.container {
  max-width: 33.875em;
}

#main-header {
  padding-top: 3em;
}

#main-footer {
  display: block;
  font-style: italic;
  font-size: 85%;
  padding-bottom: 3em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: 600;
  margin-bottom: 25px;
}

/* h1:hover { */
/*   background-image: linear-gradient( */
/*     to left, */
/*     #17223b, */
/*     #263859, */
/*     #6b778d, */
/*     #ff6768 */
/*   ); */
/*   -webkit-background-clip: text; */
/*   -webkit-text-fill-color: transparent; */
/*   cursor: pointer; */
/* } */

h4 {
  margin-top: 1em;
}

/* Larger than mobile screen */
@media (min-width: 40rem) {
}

/* Larger than tablet screen */
@media (min-width: 80rem) {
  body {
    font-size: 2em;
  }
}

/* Larger than desktop screen */
@media (min-width: 120rem) {
}

ul,
ol {
  margin-left: 1em;
}

ul li,
ol li {
  list-style-position: outside;
}

nav {
  /* font-family: 'Literata'; */
  display: inline-block;
  margin-bottom: 25px;
}

nav ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

nav ul li {
  display: inline-block;
  padding-right: 0.3em;
}

.post {
  margin-top: 25px;
  margin-bottom: 25px;
}

.post h4,
.post p {
  margin-bottom: 5px;
}

.post-detail .title {
  margin-top: 0;
}

dl dt {
  /* font-weight: bold; */
}

dl dd {
  margin-left: 0;
  margin-bottom: 1em;
}

.table-wrapper {
  overflow-x: scroll;
  margin-bottom: 25px;
}

.align-center {
  text-align: center;
}

.post-content img {
  display: block;
  margin: 25px auto;
  border: 0.5px solid #f5f5f5;
  /* box-shadow: 5px 5px 5px #ccc; */
  /* -moz-box-shadow: 5px 5px 5px #ccc; */
  /* -webkit-box-shadow: 5px 5px 5px #ccc; */
  /* -khtml-box-shadow: 5px 5px 5px #ccc; */
}

.paginator {
  display: block;
  text-align: center;
}

pre {
  padding: 1.5rem 2rem;
  color: #606c76;
  background: #f4f5f6;
  border-radius: 0.4rem;
  margin: 0 0.2rem;
  margin-bottom: 25px;
  font-size: 0.8em;
  whitespace: pre;
}

a.footnote-reference {
  vertical-align: super;
  font-size: smaller;
}

table.footnote {
  font-size: 0.87em;
}

table.footnote td {
  border: none;
}

body.home #main-header {
  padding-top: 0;
}

body.home #main-footer {
  padding-bottom: 0;
}

body.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* place-items: center center; */
}

a {
  color: #58b09c;
}
